<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %>
    <!-- 상세조회 -->
    <!-- Material input -->
    <div class="md-form">
      <input
        type="text"
        id="director"
        class="form-control"
        value="<%= result.director %>"
        readonly
      />
      <label for="form1">Director</label>
    </div>
    <div class="md-form">
      <input
        type="text"
        id="title"
        class="form-control"
        value="<%= result.title %>"
        readonly
      />
      <label for="form1">Title</label>
    </div>

    <div class="md-form">
      <input
        type="text"
        id="title"
        class="form-control"
        value="<%= result.year %>"
        readonly
      />
      <label for="form1">Year</label>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      onclick="location.href='/api/movie'"
    >
      List
    </button>

    <button
      type="button"
      class="btn btn-primary"
      onclick="location.href='/api/movie/<%= result._id %>/edit'"
    >
      Update
    </button>

    <button id="deleteBtn" type="button" class="btn btn-primary">
      Delete
    </button>

    <%- include("../footer"); %>
    <script>
      $(function () {
        $("#deleteBtn").on("click", () => {
          const result = confirm("삭제하시겠습니까?");

          if (result) {
            $.ajax({
              url: "/api/movie/<%= result._id %>",
              type: "DELETE",
            })
              .done(() => {
                location.href = "/api/movie";
              })
              .fail((request, status, error) => {
                alert(request.responseText);
              });
          }
        });
      });
    </script>
  </body>
</html>
