<!DOCTYPE html>
<html lang="en">
  <%- include("../header"); %>
  <body>
    <%- include("../menu"); %>
    <button
      type="button"
      class="btn btn-primary"
      onclick="location.href='/api/movie/new'"
    >
      Create
    </button>

    <br />
    <div class="row row-cols-1 row-cols-md-2">
      <% result.forEach(movie => { %>
      <div class="col mb-4">
        <!-- Card -->
        <div class="card">
          <!--Card image-->
          <div class="view overlay">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title"><%= movie.director %></h4>
            <!--Text-->
            <p class="card-text">
              <%= movie.director %>
            </p>
            <p class="card-text">
              <%= movie.year %>
            </p>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <button
              type="button"
              class="btn btn-light-blue btn-md"
              onclick="location.href='/api/movie/<%=movie._id%>'"
            >
              Read more
            </button>
          </div>
        </div>
        <!-- Card -->
      </div>
      <% }) %>
    </div>

    <%- include("../footer"); %>
  </body>
</html>
